<%+header%>

<style>
/* 清除预格式文本默认间距 */
pre.clean-log {
    margin: 0;
    padding: 5px;
}
</style>

<div class="cbi-map">
    <div class="cbi-section">
        <h3><%:Logs Info%></h3>
        <% 
            local logs = luci.sys.exec("cat /etc/campus_network/log.txt | tail -n 10 | sed '/^$/d'") 
        %>
        <pre class="clean-log"><%= luci.xml.pcdata(logs) %></pre>
    </div>
    <div class="cbi-section">
        <h3><%:CURL Logs%></h3>   
        <% 
            local curl_log = luci.sys.exec("cat /etc/campus_network/curl_log.txt | tail -n 1") 
        %>      
        <pre class="clean-log"><%= luci.xml.pcdata(curl_log) %></pre>
    </div>
</div>

<%+footer%>