<%+header%>

<style>
/* 清除预格式文本默认间距 */
pre.clean-log {
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}
</style>

<div class="cbi-map">
    <h2><%:Logs Info%></h2>
    
    <div class="cbi-section">
        <% 
            -- 紧凑写法避免换行 
            local logs = luci.sys.exec("cat /etc/xyw/log.txt | tail -n 10 | sed '/^$/d'") 
        %>
        <pre class="clean-log"><%= luci.util.pcdata(logs) %></pre>
    </div>
    <h3><%:CURL 日志%></h3>    
    <div class="cbi-section">
        <% 
            local curl_log = luci.sys.exec("cat /etc/xyw/curl_log.txt | tail -n 1") 
        %>      
      <pre class="clean-log"><%= luci.util.pcdata(curl_log) %></pre>
  </div>
</div>

<%+footer%>